.ChangePassword{
	
	width: 30%;
	margin: 0 auto;
	padding: 50px;
	margin-top: 100px;
	border-radius: 10px;
	background: #004445;
	
}

.sub{
	
	background: white;
	border: none;
	color: #004445;
	padding: 10px;
	font-size:18px;
	border-radius:5px;
	margin-left: 39%;
	cursor: pointer;
	overflow: hidden;
}

.lab{
	
	color:white;
}